body {
  font-family: "Playwrite CO Guides", serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
}

header {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid #feb47b;
  position: relative;
  overflow: hidden;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

header .search-input {
  margin-top: 1.5rem;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  border: 2px solid #feb47b;
  border-radius: 30px;
  font-size: 1.2rem;
}

main {
  padding: 2rem;
  background: #e8eaf6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.recipe h2{
  text-align: center;
}

.recipe,
.recipe-details {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.recipe h2,
.recipe-details h1 {
  font-family: "Playwrite CO Guides", serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
}

.recipe-details {
  max-width: 700px;
  margin: 2rem auto;
}

.recipe-details p {
  margin: 1rem 0;
  line-height: 1.6;
  color: #555;
}

.recipe h2 {
  text-decoration: none;
}

.recipe a {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
}

.recipe h2,
.recipe-details h1 {
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
}

.recipe-details ul {
  list-style: none;
  padding: 0;
}

button {
  font-family: "Playwrite CO Guides", serif;
  padding: 5px 10px;
  margin: 10px auto;
  display: block;
  background-color: #ff7e5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.page-button {
  padding: 50px;
}

body.black-and-white {
  background-color: #f0f0f0;
  color: #333;
}

body.black-and-white header {
  background: #333;
  color: #f0f0f0;
}

body.black-and-white .recipe,
body.black-and-white .recipe-details {
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.black-and-white button {
  background-color: #333;
  color: #f0f0f0;
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
}

body.black-and-white button:hover {
  background-color: #555;
  color: #fff;
}

body.black-and-white .search-input {
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

body.black-and-white .page-button {
  background-color: #333;
  color: #f0f0f0;
  border: 1px solid #ccc;
  transition: background-color 0.3s, color 0.3s;
}

body.black-and-white .page-button:hover {
  background-color: #555;
  color: #fff;
}

form#add-recipe-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin: 2rem auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form.add-recipe-form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form.add-recipe-form input,
form.add-recipe-form textarea,
form.add-recipe-form button {
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

form.add-recipe-form input:focus,
form.add-recipe-form textarea:focus,
form.add-recipe-form button:focus {
  outline: none;
  border-color: #ff7e5f;
}

form.add-recipe-form button {
  background-color: #ff7e5f;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

form.add-recipe-form button:hover {
  background-color: #feb47b;
}

form h1 {
  text-align: center;
}

#message {
  display: none;
  color: black;
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

select#difficulty {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select#difficulty:focus {
  outline: none;
  border-color: #ff7e5f;
}

select#difficulty option {
  font-size: 1rem;
  padding: 1rem;
}

.category {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.category h2 {
  font-family: "Playwrite CO Guides", serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.ingredient {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.ingredient h2 {
  font-family: "Playwrite CO Guides", serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.view-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.view-buttons button {
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff7e5f;
  color: white;
  transition: background-color 0.3s;
}

.view-buttons button:hover {
  background-color: #feb47b;
}

.recipe,
.recipe-details,
.category,
.ingredient {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-button {
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
  color: #333;
  margin: 1rem 0;
  transition: color 0.3s;
  width: 100%;
}

.toggle-button:hover {
  color: #feb47b;
}

.difficulty,
.ingredient {
  background: #fff;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.difficulty h2,
.ingredient h2 {
  font-family: "Playwrite CO Guides", serif;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
}

h1 a {
  text-decoration: none;
  color: white;
}


footer {
  text-align: center;
}